dtd/tweagle.dtd

<!ELEMENT dataset (
        users*, donor_users*, tweets*, mentions*, posted_messages*)>

        <!ELEMENT users EMPTY>
        <!ATTLIST users
                u_name ID #REQUIRED
                u_password CDATA #REQUIRED
                email CDATA #REQUIRED
                male (true|false) #REQUIRED
                creation_date CDATA #REQUIRED
                messages CDATA #REQUIRED
                following CDATA #REQUIRED
                followers CDATA #REQUIRED
                consumer_key CDATA #REQUIRED
                consumer_secret CDATA #REQUIRED
                access_token CDATA #REQUIRED
                access_token_secret CDATA #REQUIRED
                >

        <!ELEMENT donor_users EMPTY>
        <!ATTLIST donor_users
                du_name ID #REQUIRED
                male (true|false) #REQUIRED
                take_messages_date CDATA #IMPLIED
                take_following_date CDATA #IMPLIED
                take_followers_date CDATA #IMPLIED
                >

        <!ELEMENT tweets EMPTY>
        <!ATTLIST tweets
                id CDATA #REQUIRED
                owner_id CDATA #REQUIRED
                message CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                synonymized (true|false) #REQUIRED
                reposted (true|false) #REQUIRED
                >

        <!ELEMENT mentions EMPTY>
        <!ATTLIST mentions
                id CDATA #REQUIRED
                owner_id CDATA #REQUIRED
                recipient_id CDATA #REQUIRED
                message CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                synonymized (true|false) #REQUIRED
                reposted (true|false) #REQUIRED
                >

        <!ELEMENT posted_messages EMPTY>
        <!ATTLIST posted_messages
                id CDATA #REQUIRED
                twitter_id CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                >