dtd/tweagle.dtd

<!ELEMENT dataset (
        users*, donor_users*, tweets*, mentions*, posted_messages*, words*, synonym_map*, not_exists_synonym*,
        tweet_users*)>

        <!ELEMENT users EMPTY>
        <!ATTLIST users
                u_name CDATA #REQUIRED
                u_password CDATA #REQUIRED
                email CDATA #REQUIRED
                male (true|false) #REQUIRED
                creation_date CDATA #REQUIRED
                messages CDATA #REQUIRED
                following CDATA #REQUIRED
                followers CDATA #REQUIRED
                consumer_key CDATA #REQUIRED
                consumer_secret CDATA #REQUIRED
                access_token CDATA #REQUIRED
                access_token_secret CDATA #REQUIRED
                >

        <!ELEMENT donor_users EMPTY>
        <!ATTLIST donor_users
                du_name CDATA #REQUIRED
                male (true|false) #IMPLIED
                take_messages_date CDATA #IMPLIED
                take_following_date CDATA #IMPLIED
                take_followers_date CDATA #IMPLIED
                >

        <!ELEMENT tweets EMPTY>
        <!ATTLIST tweets
                id CDATA #REQUIRED
                owner_id CDATA #REQUIRED
                message CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                synonymized (true|false) #REQUIRED
                reposted (true|false) #REQUIRED
                >

        <!ELEMENT mentions EMPTY>
        <!ATTLIST mentions
                id CDATA #REQUIRED
                owner_id CDATA #REQUIRED
                recipient_id CDATA #REQUIRED
                message CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                synonymized (true|false) #REQUIRED
                reposted (true|false) #REQUIRED
                >

        <!ELEMENT posted_messages EMPTY>
        <!ATTLIST posted_messages
                id CDATA #REQUIRED
                twitter_id CDATA #REQUIRED
                posted_date CDATA #REQUIRED
                >

        <!ELEMENT words EMPTY>
        <!ATTLIST words
                id CDATA #REQUIRED
                word CDATA #REQUIRED
                used CDATA #REQUIRED
                >

        <!ELEMENT synonym_map EMPTY>
        <!ATTLIST synonym_map
                id CDATA #REQUIRED
                word_id CDATA #REQUIRED
                synonym_id CDATA #REQUIRED
                >

        <!ELEMENT not_exists_synonym EMPTY>
        <!ATTLIST not_exists_synonym
                word CDATA #REQUIRED
                used CDATA #REQUIRED
                >

        <!ELEMENT tweet_users EMPTY>
        <!ATTLIST tweet_users
                id CDATA #REQUIRED
                tu_name CDATA #REQUIRED
                is_tweet CDATA #REQUIRED
                cur_tweet CDATA #REQUIRED
                max_tweet CDATA #REQUIRED
                next_tweet CDATA #IMPLIED
                last_upd CDATA #REQUIRED
                >